<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BYU_IT_Planner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES " />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectNavTest">
        <activity
            android:name=".ui.Calendar.EventHandler"
            android:exported="false"
            android:label="@string/title_activity_event_handler"
            android:theme="@style/Theme.FinalProjectNavTest.NoActionBar" />

        <activity
            android:name=".ui.Settings.LogIn"
            android:exported="false" />
        <activity
            android:name=".ui.AddNote.SearcnableActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.API_KEY"
            android:value="AIzaSyA0ACfgsp_uhtWKGD2e-G-aVbSm0l3FD7Q" />

        <activity
            android:name=".ui.AddNote.ObserveNote"
            android:exported="false" />
        <activity
            android:name=".ui.AddNote.EditNote"
            android:exported="false" />
        <activity
            android:name=".ui.AddNote.TestNoteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>